{% load crispy_forms_tags %}

{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="row">
        <div class="col-12">
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h2><i class="fa fa-list"> Listagem de alunos</i></h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Matrícula</th>
                            <th>E-mail</th>
                            <th>Telefone</th>
                            <th>Data do Evento</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for a in alunos %}
                        <tr>
                            <td>{{ a.id }}</td>
                            <td><a href="#">{{ a.nome.upper }}</a></td>
                            <td>{{ a.matricula }}</td>
                            <td>{{ a.email }}</td>
                            <td>{{ a.telefone }}</td>
                            <td>{{ a.data_evento  | date:'d/m/Y'}}</td>
                            <td>
                                <a href="#">
                                    <i class="fa fa-search" aria-hidden="true" style="color: blue;"></i>
                                </a>
                                <a href="{% url 'alunos:editar_aluno' a.id %}">Editar
                                    <i class="fa fa-pencil-square" aria-hidden="true" style="color: #6B8E23;"></i>
                                </a>
                                <a href="{% url 'alunos:excluir_aluno' a.id %}"> Excluir
                                    <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 card mb-3">
        <div class="card-header">
            <a href="{% url 'alunos:inserir_aluno' %}"><button class="btn btn-success">Cadastrar</button></a>
        </div>
    </div>
</body>
</html>